<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col"></th>
        <th>Passkey</th>
        <th>Created at</th>
        <th>Modified at</th>

    </tr>
    </thead>
    {% for key in object_list %}
        <tr>
            <th scope="row"></th>

            <td>{{ key.value }}</td>
            <td>{{ key.created_at }}</td>
            <td>{{ key.modified_at }}</td>

            <td>
                <a href="{% url 'notes:secretkey_edit' key.pk %}">
                    <button class="btn btn-outline-primary" type="button">
                        Edit
                    </button>
                </a>
            </td>

            <td>
                <a href="{% url 'notes:secretkey_delete' key.pk %}">
                    <button class="btn btn-outline-danger" type="button">
                        Delete
                    </button>
                </a>
            </td>

        </tr>
    {% endfor %}
</table>
