{% extends "_helpers/_base.html" %}

{% block content %}
    <h1> View Note </h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <div>

            <!--
            <button class="btn btn-outline-danger" type="submit">Return</button>
            -->

            <a href="{% url 'notes:notes_list' %}">
                <button class="btn btn-outline-primary" type="button">
                    Return
                </button>
            </a>

        </div>
    </form>

{% endblock %}