{% extends "_helpers/_base.html" %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>"Are you sure you want to delete <b>{{ object }}</b> ?"</p>
        {{ form }}
        <div>

            <button class="btn btn-outline-danger" type="submit">Delete</button>

            <a href="{% url 'notes:secretkey_list' %}">
                <button class="btn btn-outline-primary" type="button">
                    Cancel
                </button>
            </a>

        </div>
    </form>

{% endblock %}