<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {% if title %}
                {{ title }}
            {% else %}
                Welcome!
            {% endif %}
            | My Django base Website
        {% endblock %}
    </title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
{% include "_helpers/_header.html" %}

<div>
    {% block content %}
        <h1>Hello!</h1>
    {% endblock %}
</div>

</body>
</html>